## Ver análisis cuantitativo
Se divide la visualización del cálculo ya que los tests completos pueden tardar unos minutos

In [6]:
from general import *
with open("analisisCuantitativo.pkl", "rb") as f:
    df = pickle.load(f)
df.groupby(by=["test", "metodo"]).mean()

                               diferencia
test                 metodo
test_completo_1000_2 colley  1.493297e-05
                     wp      1.096297e-05
test_completo_1000_8 colley -6.738384e-05
                     wp     -4.621284e-05
test_completo_100_4  colley  8.263856e-07
                     wp     -6.620236e-04
test_completo_100_8  colley  2.497624e-06
                     wp      2.876476e-04
test_completo_10_1   colley -3.431998e-09
                     wp     -1.034320e-07

## Análisis de los resultados de Memphis en la temporada NBA 2016

In [3]:
from general import *
df=pd.DataFrame({}, columns=["fecha", "iEquipo", "iGoles", "jEquipo", "jGoles"])
i=0
with open("nba_2016.in","r") as f:
    for line in f:
        if(i > 1):
            [fecha, iEquipo, iGoles, jEquipo, jGoles] = [int(x) for x in line.rstrip('\n').split(' ')]
            df.loc[i-1] = [fecha, iEquipo, iGoles, jEquipo, jGoles]
        
        i+=1


        
partidosMemphisVisitante = df['jEquipo'] == 15
partidosMemphisLocal = df['iEquipo'] == 15

# particularmente para Memphis resultó ser que no tiene partidos Ganados siendo visitante. 
# Siempre gana siendo local.
memphisLocal = df[partidosMemphisVisitante]
memphisLocal = memphisLocal[memphisLocal['jGoles'] > memphisLocal['iGoles']]
memphisLocal

Empty DataFrame
Columns: [fecha, iEquipo, iGoles, jEquipo, jGoles]
Index: []

Cálculo de promedio de puntos por los que ganó Memphis

In [7]:
memphisVisitante = pd.DataFrame.copy(df[partidosMemphisLocal])
memphisVisitante.reset_index(inplace=True)
memphisVisitante['dif'] = memphisVisitante['iGoles'] - memphisVisitante['jGoles']
memphisVisitante = memphisVisitante[memphisVisitante['dif'] > 0]
memphisVisitante['dif'].mean()

8.692307692307692

Cálculo de promedio de puntos por los que perdió Memphis

In [9]:
memphisVisitante = pd.DataFrame.copy(df[partidosMemphisVisitante])
memphisVisitante.reset_index(inplace=True)
memphisVisitante['dif'] = memphisVisitante['jGoles'] - memphisVisitante['iGoles']
memphisVisitante = memphisVisitante[memphisVisitante['dif'] < 0]
memphisVisitante['dif'].mean()

-15.535714285714286